<% provide(:title, "Index")%>

<h1>Listes des inscrits</h1>
<% @users.each do |user| %>
  <h4>N° <strong><%= user.id %></strong>, Id   <strong><%= user.name %></strong>   <%= link_to '[voir] ', user_path(user) %> <%= link_to '[Editer] ', edit_user_path(user) %></h4>
<% end  %>

<h4><%= link_to 'Liste des Events ', events_path %></h4>
<p><%= link_to "Créer un nouveau utilisateur", users_new_path, class: "btn btn-primary" %></p>
