<h1>Liste de Events </h1>


<% @events.each do |event| %>

  <h4>N° <strong><%= event.id %></strong>, Description   <strong><%= event.description %></strong>   <%= link_to '[voir] ', event_path(event) %> </h4>
<% end  %>

<h4><%= link_to "Liste des utilisateurs", users_path %></h4>
<h4><%= link_to "Creer un event ", new_event_path %></h4>
